{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body mb-3 mr-3 ml-3">
                    <p class="text-center">Sign up</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Sign up</button>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mb-2 mr-3 ml-3">
                    <p>Have an account? <a href="">Log in</a></p>
                </div>
            </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}