{% extends 'base2.html' %}


{% block content %}
<div class="container">
    <div class="row">
        {% for posts in all_posts %}
        <div class="col-md-4 card" style="margin-left: 20px;">
                <div class="card-title">
                    <h3>{{posts.title}}</h3>
                    <hr>
                </div>
                <div class="card-body">
                    <a href="{% url 'single_post' posts.id%}"><img src="{{posts.image.cdn_url}}" alt="{{posts.title}}" width="200"></a>
                    <a href="{{posts.url}}"><button type="button" class="btn btn-outline-info">view site</button></a>
                    <!-- <p>posted by: {{posts.user.user.username}}</p> -->
                </div>
                
            </div>
            {% empty %}
        {% endfor %}
    </div>
</div>


{% endblock %}